<mat-toolbar color="primary">
  <span>Auth Routing</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/admin" routerLinkActive="active">Admin</button>
  <button mat-button routerLink="/merchant" routerLinkActive="active">Merchant</button>
  <button mat-button routerLink="/student" routerLinkActive="active">Student</button>
  <button mat-button routerLink="/user" routerLinkActive="active">User</button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
