<p>user works!</p>

<br><br>
<hr>

<button mat-raised-button routerLink="userData/1" routerLinkActive="active" color="primary">User Data</button>
<button mat-raised-button routerLink="userTable/2" routerLinkActive="active" color="accent">User Table</button>
<button mat-raised-button routerLink="userDetail/3" routerLinkActive="active" color="primary">User Table</button>
<button mat-raised-button routerLink="userDownload/4" routerLinkActive="active" color="accent">User Table</button>
<button mat-raised-button routerLink="userFile/5" routerLinkActive="active" color="primary">User Table</button>
<button mat-raised-button routerLink="userImg/6" routerLinkActive="active" color="accent">User Table</button>

<div class="custom-outlet">
  <router-outlet></router-outlet>
</div>
